@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Leveriza St.<br />
    Pasay City<br />
    <abbr title="Phone">P:</abbr>
    000.555.8888
</address>

<address>
    <strong>Developer:</strong>   <a href="mailto:kristian.aggarao@gmail.com">kristian.aggarao</a><br />
</address>